<header>
	<div content-for="title">
	  	<span>首页</span>
	</div>
</header>

<input ng-model="keywords" type="search" class="form-control app-search" placeholder="请输入关键字.." ng-keypress="search($event, keywords)"/>
<div class="scrollable">
  <div class="scrollable-content">
    <div class="list-group media-list book-list" ng-if="books.length > 0">
		<a ng-repeat="book in books" class="list-group-item media book" href="javascript:;;;">
			<div class="pull-left">
				<img class="img-thumbnail" ng-src="{{book.images | image}}"/>
			</div>
			<div class="pull-right">
				<span class="btn" ng-if="!book.$$alreadyWish" ng-click="wish($index, book)"><i class="fa fa-heart"></i>想要</span>
				<span class="btn" ng-if="!book.$$alreadyOwn" ng-click="own($index, book)"><i class="fa fa-star"></i>已有</span>
			</div>
			<div class="media-body">
				<h5 class="media-heading">{{book.title}}</h5>
				<div class="media-metadata">
					<span><span ng-repeat="authorName in book.author">{{authorName}}</span></span>
				</div>
			</div>
		</a>
	</div>
  </div>
</div>