<header>
	<div content-for="title">
	  	<span>我想看的图书</span>
	</div>
</header>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="list-group media-list book-list">
		<a ng-repeat="book in books" class="list-group-item media book" href="javascript:;;;">
			<div class="pull-left">
				<img class="img-thumbnail" ng-src="{{book.image}}"/>
			</div>
			<div class="media-body">
				<h5 class="media-heading">{{book.title}}</h5>
				<div class="book-mediadata">
					<span><span ng-repeat="authorName in book.author">{{authorName}}</span></span>
				</div>
			</div>
		</a>
	</div>
  </div>
</div>